
.logo{
	width: 10%;
	margin-left: 1%;
}


.logopic{
	content:url("../static/images/logo.png");
}
/*style headr */
header {

    width:100%
    display: inline;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.indent{
  margin-left:2%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
