{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div class="indent">
<div class="column1">
<h2>User Recycle Information </h2>

{% if recycle|length == 0 %}
<span>You have no record to show</span>
{%else%}
<table>
  <tr>
      <th>Date</th>
      <th>Weight(kg)</th>
    </tr>
{%endif%}
{% for record in recycle %}
<tr>
<td>{{record.date.date()}}</td>
<td>{{record.weight}}</td>
</tr>
{% endfor %}
</table>
<br>
<button onclick="myFunction()">Comment</button>
<button onclick="showChart()">Chart</button>
</div>
</div>
<div class=column2>
<br>
<br>
<p id="demo" ></p>
<br>
<br>
<h3 id="title"></h3>
<canvas id="chart" width="600" height="400"></canvas>
<br>
<br>
</div>
<script>
function myFunction() {

	document.getElementById("demo").innerHTML = "Your Total recycle {{totalrecycle}} kg"+"<br />"+
	"and its {{percentrecycle}}% from your total waste ";
	{% if percentrecycle > 75 %}
	document.getElementById("demo").innerHTML+="<br />"+"keep good work to reach 75% , our ultimate goal number."
	{%else%}
	document.getElementById("demo").innerHTML+="<br />"+"Thanks for hitting our ultimate goal number. "
	{%endif%}
}
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script>
     // bar chart data
function showChart(){

  document.getElementById("title").innerHTML ="Recycle weight vs Date";
     var barData = {


       labels : [
         {% for item in recycle %}
          "{{ item.date.date() }}",

         {% endfor %}
 ],
       datasets : [{

         fillColor: "rgba(63, 191, 63,.5)",
         strokeColor: "rgba(63, 191, 63,1)",
         pointColor: "rgba(63, 191, 63,1)",

         data : [
           {% for item in recycle %}
              "{{ item.weight }}",

             {% endfor %}
     ]
         }
       ]


     }
    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max =10

    // draw bar chart
    new Chart(mychart).Bar(barData, {


      scaleOverride: true,
      scaleSteps: steps,
      scaleStepWidth: Math.ceil(max / steps),
      scaleStartValue: 0,
      scaleShowVerticalLines: true,
      scaleShowGridLines : true,
      barShowStroke : true,
      scaleShowLabels: true
      }
    );
  }
</script>

{% endblock %}
