{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<div class="indent">
  </br>
<h3>Brief Description:</h3>
<p>The project is to have a smart garbage bin that have a barcode for each house and </p>
<p>when collected it will allow to measure the weight of garbage related to this house.</p>
<p>This information can be shared to the owner by application showing daily waste level</p>
<p>versus recycled garbe.</p>
</br>
<h3>Our Vision:</h3>
<p>Our vision is to have data about the waste and recycele garbage produced by individual</p>
<p>and help in reducig the waste level and achieve the UAE 2020 vision to increase the</p>
<p>recycled waste into 75% of total waste.</p>
</br>
<h3>Our Mission:</h3>
<ul>
<li>Achieve a healthier environmentby reducing the waste level.</li>
</br>
<li>Provide the country with another source of income and clean energy.</li>
</br>
<li>Raise the awarness and responsibilty in the community. </li>
</ul>
</br>
</div>

{% endblock %}
