{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div class="indent">
<h2>User waste Information</h2>
{% if waste|length == 0 %}
<span>You have no record to show</span>
{%else%}
<table>
  <tr>
      <th>Date</th>
      <th>Weight(kg)</th>
    </tr>
{%endif%}
{% for record in waste %}
<tr>
<td>{{record.date.date()}}</td>
<td>{{record.weight}}</td>
</tr>
{% endfor %}
</table>
<br>
<button onclick="myFunction()">Comment</button>
<p id="demo"></p>
<script>
function myFunction() {
	{% if totalwaste <  optimumwaste %}
	document.getElementById("demo").innerHTML = "Total waste {{totalwaste}} kg is less than the average  waste {{optimumwaste}} kg".+"<br />"+
	"Thanks and keep taking care of our environment";
  {%else%}
	document.getElementById("demo").innerHTML = "Total waste {{totalwaste}} kg is more than the average  waste {{optimumwaste}} kg."+"<br />"+
	"Please do your best to take care of our environment ";
	{%endif%}
}
</script>
</div>
{% endblock %}
